@import '../../../../node_modules/modularscale-sass/stylesheets/modularscale';
@import '../../../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../../../../node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer';
@import '../../../../node_modules/mathsass/dist/math';

$get-px: false !default;
$is-printed: false;
$woff2: false;
$font-size-arb: if($is-printed, 12, 16);
$font-size-px: $font-size-arb*1px;
$font-size: if($is-printed, ($font-size-arb/12)*1pt, ($font-size-arb/16)*1rem);
$line-height: if($is-printed, 14, 30)/$font-size-arb;

$ms-base: $font-size;
$ms-ratio: 1.4;

$sp: $font-size*10/$font-size-arb;
$sp--y: $sp*3;

$serif: (Georgia, Cambria, 'Times New Roman', Times, serif);
$sans: ('Helvetica Neue', Helvetica, Arial, sans-serif);
$system-fonts: (-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
$font-stack: $sans;

// Page sizes - breakpoints(bp = BreakPoint):
$bp--lg: $sp*143;
$bp--md: $sp*96;
$bp--sm: $sp*43;

// Breakpoints
$slicer-breakpoints: 0 $bp--sm $bp--md $bp--lg;
$slicer-breakpoint-names: 'xs' 'sm' 'md' 'lg';
$slicer-anti-overlap-corrections: -1px, -0.05rem;
$breakpoint-no-query-wrappers: true;
