<aside class="aside grid__item--e">
	<div class="aside__sticky-wrapper">
		<ul class="aside__list">
		    <li class="aside__item">
		    	<a href="mailto:hello@teyepe.com" title="mail">mail</a>
		    </li>
		    <li class="aside__item">
		    	<a href="https://dribbble.com/teyepe" target="_blank" title="dribbble">dribbble</a>
		    </li>
		    <li class="aside__item">
		    	<a href="https://github.com/teyepe" target="_blank" title="github">github</a>
		    </li>
		    <li class="aside__item">
		    	<a href="https://www.linkedin.com/in/tasos-dervenagas-03350235" target="_blank" title="linkedin">linkedin</a>
		    </li>
		</ul>
	</div>
</aside>
