<header class="header">
	<div class="grid grid--a">
		<%= partial "partials/grid-lines/header" %>
		<a class="header__title grid__item--header" href="/">teyepe</a>
	    <div class="header__logo grid__item--logo" id="animatable-logo">
	    	<%= partial "partials/svg/logo--animatable" %>
		</div>
    </div>
</header>
