.footer {
    background: url(../../../assets/img/bg--orange.png) 0 0 repeat fixed $deepblue;
    color: $orange;
    .aside__sticky-wrapper {
        top: 0;
        width: 100%;
        height: 304px;
    }
    h2 {
        color: $offwhite;
    }
    a {
        &:hover {
            color: $offwhite;
        }
    }
    a[href*='discogs.com'] {
        text-decoration: underline $orange solid;
        text-underline-offset: $sp*0.5;
        text-decoration-thickness: 1px;
        &:hover {
            color: $offwhite;
        }
    }
    &__colophon {
        color: $offwhite;
        margin-top: $sp--y;
        h3 {
            font-family: 'Eurostile', $sans;
            font-weight: bold;
        }
        p {
            @include font('Forma-Micro', normal, -0.5, 0, 2);
            span {
                margin: 0 ($sp*0.2) 0 (-$sp*0.2);
                position: relative;
                bottom: (-$sp*0.2);
                font-size: 120%;
            }
        }
    }
    &__copyright {
        small {
            color: $offwhite;
            font-family: 'Forma-Micro', $font-stack;
        }        
    }
}
